@import '../variable.scss';

.footer{
    background-color: $purple-color;
    display: flex;
    padding: 50px 6%;
    align-items: center;
    z-index: 100;
}


.footer img{
    width: 200px;
}


.footer ul{
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.footer ul li{
    list-style: none;
    font-size: 30px;
    cursor: pointer;
}



@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {
    .footer{
        background-color: $purple-color;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 6%;
        align-items: center;
    }


    .footer ul{
        margin: 0;
        display: flex;
        gap: 20px;
    }


    .footer img{
        width: 150px;
    }
    

    .footer ul li{
        list-style: none;
        font-size: 20px;
        cursor: pointer;
    }
}